.container{
    margin-top: 5%;
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.playlist-container{
    margin-top: 4%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.playlist-card{
    width: 15%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    background: rgb(247, 247, 247);
    justify-content: center;
}

.playlist-card:last-child{
    animation: reveal 1s ease ;
}



@keyframes reveal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}